@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", serif;
}

.inter {
    font-family: "Inter", serif;
}

body{
    margin: 0;
}

header {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    height: 90px;
    font-size: 14px;
}

#logo {
    padding-left: 110px;
    padding-right: 73px;
}

.header-links a{
    padding-right: 48px;
}

.header-last {
    margin-left: 90px;
}

.header-last a{
    padding: 12px 36px;
    background-color: rgba(241, 241, 241, 1);
    border-radius: 23px;
    margin-left: 10px;
}

.header-last select{
    padding: 12px 12px;
    background-color: rgba(235, 235, 235, 1);
    border-radius: 23px;
}

#home-page {
    color: rgba(71, 192, 207, 1);
}

#acc {
    background-color:  rgba(71, 192, 207, 1);
    color: rgba(255, 255, 255, 1)
}

.first-section {
    width: 100%;
    height: 827px;
    background-color: black;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.first-section h1 {
    font-size: 32px;
}

.first-section h2 {
    font-size: 40px;
}

.first-section p {
    font-size: 16px;
}

.investing {
    width: 721px;
    background-color: red;
    margin-top: 250px;
}